VITE_SUPABASE_URL="https://ammoigffnmhirpcvoupr.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtbW9pZ2Zmbm1oaXJwY3ZvdXByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNDI5MTMsImV4cCI6MjA5MzgxODkxM30.pMirkTM4AvbP53tFl58rWsYhHk6GYFiLl0iBJgGoO60"
